body {
  margin: 0px;
  font-family: sans-serif;
  display: flex;
  /* flex-direction: row;
  justify-content: center;
  align-content: center; */
}
.bLeft {
  width: 300px;
  background-color: #e8e8e8;
  min-height: 1000px;
}

.bLeft div {
  margin: 0px 0px 20px 0px;
  display: flex;
  flex-direction: column;
}
.left-head {
  /* background-color: #353535; */
  height: 80px;
}
.btn-new {
  padding: 12px 80px;
  margin: 20px 55px;
  background-color: #f9c80c;
  border: none;
  text-align: center;
  text-decoration: none;
}
.btn-new:hover {
  background-color: #c7a003;
  cursor: pointer;
}

.b-right {
  width: 1605px;
}
.right {
  display: flex;
  align-items: center;
  flex-flow: center;
  align-content: center;
}
.header {
  height: 80px;
  box-shadow: 0px 0px 5px 0px #ccc;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.filters {
  display: inline-block;
  margin: 0px 20px;
  padding: 10px 20px;
  background-color: transparent;
  border: none;
  text-align: center;
  text-decoration: none;
}

.filter-by {
  background-color: #fafafa;
  height: 32px;
  width: inherit;
  display: flex;
  align-items: center;
  box-shadow: 0px 0px 5px 0px #ccc;
  margin: 0px 0px 5px 0px;
  color: #a7a7a7;
  font-size: 14px;
}
h10 {
  padding: 0px 10px 0px 30px;
  margin: auto 0px;
  font-size: 14px;
  display: block;
  color: #8a8a8a;
  align-items: center;
}

.hItem {
  margin: 0px 40px;
  color: #707070;
}
.quick-view h4 {
  padding: 0px 0px 0px 40px;
  font-family: sans-serif;
}

.mybtn {
  display: inline-block;
  width: 300px;
  height: 40px;
  background-color: transparent;
  border: none;
  text-align: left;
  text-decoration: none;
  padding: 0px 0px 0px 40px;
}

.mybtn:hover {
  background-color: #d5d5d5;
  cursor: pointer;
}

.item {
  height: 80px;
  background-color: #f5f5f5;
  box-shadow: 0px 0px 2px 0px rgb(150, 150, 150);
  display: flex;
  justify-content: space-between;
}
.lItem, .status {
  margin: 0px 60px;
  min-width: 300px;
  display: flex;
  /* align-items: left; */
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}
/* .lItem div {
  margin: 0px;
} */
.to, .last-change {
  color: #9b9b9b
}
.title, .stt1 {
  color: #4e4e4e;
}
.rItem {
  min-width: 300px;
  /* background-color: blue; */
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0px 60px;
}


.last-item {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: 0px 0px 5px 0px #ccc;
  color: #707070;
  margin: 1px 0px 0px 0px;
}
