{% extends 'layout/default.html' %}

{% set configBody = {
    class: "",
    id: "create-new-contract-page"
}%}

{% block content %}
<main class="dashboard">
    {% include 'components/sidebar.html' %}

    <div class="content">
        <div class="content__header">
            <h3>Tạo mới hợp đồng</h3>
        </div>

        <div class="content__main">
            <div class="create-new">
                <div class='form-group-custom form-group-custom--file mb-4' id='upload-contract'>
                    <label>
                        <input hidden type='file' accept="" />
                        <div>
                            <strong>Upload hợp đồng của bạn</strong>
                            <p class="file-name"></p>
                            <p>Hỗ trợ định dạng: PDF, DOC, DOCX - Dung lượng tối đa: 4 MB</p>
                        </div>
                    </label>
                </div>

                <div class="add-receiver mb-3">
                    <div class="form-group">
                        <label for="name">Tên</label>
                        <input type="text" value="Phạm Hữu Thạnh Đạt" class="form-control" id="name">
                    </div>

                    <div class="form-group">
                        <label for="email">Email</label>
                        <input value="dathtp@gmail.com" type="text" class="form-control" id="email">
                    </div>

                    <div class="text-right">
                        <button class="btn btn-yellow btn-sm">
                            Thêm người nhận
                        </button>
                    </div>
                </div>

                <div class="form-group">
                    <label for="name-contract">Tiêu đề</label>
                    <input type="text" value="Hợp đồng doanh nghiệp" class="form-control" id="name-contract">
                </div>

                <div class="form-group">
                    <label for="content-contract">Nội dung</label>
                    <textarea class="form-control" id="content-contract" rows="4">Hợp đồng cần ký kết</textarea>
                </div>

                <div class="text-center">
                    <a href="./review-contract.html" class="btn btn-yellow">
                        Tiếp tục
                        <i class="icontract-arrow-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    {% block review %}{% endblock %}
</main>
{% endblock %}