{% extends 'dashboard.html' %}

{% block items %}
<div class="items">
    <div class="item">
        <div class="item__info">
            <div class="item__info__title">DocuSign: Hopdongdoanhnghiep.doc</div>
            <div class="item__info__to">To: Phạm Hữu Thạnh Đạt</div>
        </div>
        <div class="item__status">
            <div class="current">Đợi kí</div>
            <div class="last-change">
                Lần thay đổi cuối 20/05/2020 | 11:48:05 am
            </div>
        </div>
        <div class="item__action">
            <button class="btn btn-light-2 btn-sm mr-1" type="button">
                Preview
            </button>
            <div class="dropdown">
                <button class="btn btn-light-2 dropdown-toggle btn-sm" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Thao tác
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Chuyển tiếp</a>
                    <a class="dropdown-item" href="#">Tạo một bản sao</a>
                    <a class="dropdown-item" href="#">Xoá</a>
                </div>
            </div>
        </div>
    </div>

    <div class="item">
        <div class="item__info">
            <div class="item__info__title">DocuSign: TestPA.doc</div>
            <div class="item__info__to">To: John Smith, Seth Williams</div>
        </div>
        <div class="item__status">
            <div class="current">Hoàn thành</div>
            <div class="last-change">
                Lần thay đổi cuối 5/23/2017 | 03:30:05 pm
            </div>
        </div>
        <div class="item__action">
            <button class="btn btn-light-2 btn-sm mr-1" type="button">
                Preview
            </button>
            <div class="dropdown">
                <button class="btn btn-light-2 dropdown-toggle btn-sm" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Thao tác
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Chuyển tiếp</a>
                    <a class="dropdown-item" href="#">Tạo một bản sao</a>
                    <a class="dropdown-item" href="#">Xoá</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}