{% extends 'layout/default.html' %}

{% block content %}
<main class="dashboard">
    {% include 'components/sidebar.html' %}

    <div class="content">
        <div class="content__header">
            <h3>Hợp đồng</h3>
            <div class="filter">
                <div class="filter__by">
                    <span>Được lọc bởi:</span> 01 ngày trước
                </div>
                <div class="filter__actions">
                    <div class="input-group">
                        <input type="email" class="form-control" placeholder="Tìm kiếm hợp đồng">
                        <div class="input-group-append">
                            <button class="btn btn-light-2 border">
                                Tìm kiếm
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="content__main">
            {% block items %}
            <div class="items">
                <div class="item">
                    <div class="item__info">
                        <div class="item__info__title">DocuSign: TestPA.doc</div>
                        <div class="item__info__to">To: John Smith, Seth Williams</div>
                    </div>
                    <div class="item__status">
                        <div class="current">Hoàn thành</div>
                        <div class="last-change">
                            Lần thay đổi cuối 5/23/2017 | 03:30:05 pm
                        </div>
                    </div>
                    <div class="item__action">
                        <div class="dropdown">
                            <button class="btn btn-light-2 dropdown-toggle btn-sm" type="button" id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Thao tác
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">Chuyển tiếp</a>
                                <a class="dropdown-item" href="#">Tạo một bản sao</a>
                                <a class="dropdown-item" href="#">Xoá</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endblock %}
        </div>
    </div>
</main>
{% endblock %}